:root {
  --greyText: #666666;
  --lightBlue: #225061;
  --darkBlue: #164657;
  --buttonBlue: #3e505f;
}
*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  color: var(--greyText);
}
button {
  color: white;
  background-color: var(--buttonBlue);
  border-radius: 0;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
}
.navBar {
  display: flex;
  padding: 40px 30px;
  justify-content: space-between;
}
.navBar img {
  height: 100px;
}
.linksAndSearch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 40px;
}
.navLinks li:not(:first-child) {
  border-left: 1px solid var(--greyText);
  margin-left: 0.7vw !important;
  padding-left: 0.7vw !important;
}
.navLinks li {
  padding-bottom: 2px;
}
.navLinks {
  display: flex;
}
.navBarRight {
  display: flex;
}
.search input {
  text-align: center;
  width: 100%;
  padding: 5px;
}
.NavSearchBox h2 {
  padding: 7px;
}
.NavSearchBox {
  background-color: var(--darkBlue);
  color: white;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 280px;
  height: 120px;
}
.NavSearchBox select {
  color: white;
  background-color: var(--darkBlue);
  border: 1px solid #ffffff;
  padding: 6px;
}
.NavSearchBox input {
  padding: 6px;
}

.bannerCar {
  padding: 20px 0;
  position: relative;
}
.bannerCar img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.bigLinksImgCont {
  display: flex;
  justify-content: space-around;
}
.bigLinksImgCont img {
  height: 500px;
}
.bannerCarInfo h2 {
  font-size: larger;
}
.bannerCarInfo {
  position: absolute;
  color: white;
  background-color: #143c4bcc;
  top: 50%;
  left: 50px;
  height: 110px;
  width: 45%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.bannerCarInfoText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dotBoxCont {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.dotBox {
  width: 80px;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.imageLink {
  position: relative;
  margin: 20px;
  cursor: pointer;
}
.imageLink h3 {
  color: white;
  background-color: #143c4bdc;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 200px;
  font-size: 20px;
  text-align: center;
}
.featBtn {
  margin: 30px 40px;
}
.brandScroll {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.individualLinks {
  margin: 0 40px;
}
.featureBtn {
  margin-top: 30px;
}
.product {
  height: 200px;
  border: solid #9b9b9b;
  border-width: 1px 0;
}
.imgPlaceholder {
  min-height: 150px;
  min-width: 200px;
  max-width: 200px;
  background-color: #d1d1d1;
  border: solid 1px #afafaf;
}
.innerProduct {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
}
.innerProduct div {
  display: flex;

}

.productInfo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contactLinks {
  color: white;
  background-color: var(--lightBlue);
  margin-bottom: 3px;
  padding: 40px;
}
table {
  text-align: left;
  width: 100%;
}
th {
  border-bottom: 1px solid white;
  font-size: 23px;
  padding: 0 20px 20px 0;
}
td {
  padding: 10px 20px 20px 0;
}
footer {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--darkBlue);
}
footer div {
  display: flex;
}
footer div * {
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .navBar {
    flex-direction: column;
    padding: 20px;
  }
  .navBar img {
    height: 50px;
    object-fit: contain;
  }
  .linksAndSearch {
    padding: 10px;
  }
  .navBarRight {
    flex-direction: column;
    align-items: center;
  }
  .bannerCarInfo {
    width: 80%;
    left: 0;
    top: 58%;
  }
  .bigLinksImgCont {
    flex-direction: column;
    align-items: center;
  }
  .imageLink img {
    height: 300px;
  }
  .featBtn {
    margin: 20px 80px 30px;
  }
  .featureBtn {
    margin: 20px 35px 30px;
  }
  .product {
    height: auto;
  }
  .innerProduct {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
  }
  .innerProduct div {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .productInfo {
    width: 100%;
  }
  table {
    font-size: small;
  }
  td {
    padding: 5px 10px 10px 0;
  }
  footer div {
    padding: 5px 0;
    font-size: small;
  }
}
@media screen and (max-width: 500px) {
  footer {
    flex-direction: column;
  }
}
