:root {
  --greyText: #666666;
  --lightBlue: #225061;
  --darkBlue: #143c4b;
  --buttonBlue: #3e505f;
}
body {
  color: var(--greyText);
}
button {
  color: white;
  background-color: var(--buttonBlue);
  border-radius: 0;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
}
.navBar {
  display: flex;
  padding: 40px 30px;
  justify-content: space-between;
}
.navBar img {
  height: 100px;
}
.navLinks {
  display: flex;
}
.navBarRight {
  display: flex;
}
.search input {
  width: 100%;
}
.NavSearchBox {
  background-color: var(--darkBlue);
  color: white;
  padding: 7px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.NavSearchBox select {
  color: white;
  background-color: var(--darkBlue);
  border: 1px solid #ffffff;
  padding: 2px;
}

.bannerCar {
  padding: 20px 0;
  position: relative;
}
.bannerCar img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.bigLinksImgCont {
  display: flex;
  justify-content: space-around;
}
.bigLinksImgCont img {
  height: 500px;
}
.bannerCarInfo h2 {
  font-size: larger;
}
.bannerCarInfo {
  position: absolute;
  color: white;
  background-color: #143c4bcc;
  top: 50%;
  left: 50px;
  height: 110px;
  width: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.imageLink {
  position: relative;
  margin: 20px;
  cursor: pointer;
}
.imageLink h3 {
  color: white;
  background-color: #143c4bdc;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 200px;
  font-size: 20px;
  text-align: center;
}
.brandScroll {
  height: 200px;
}
.individualLinks {
  margin: 0 40px;
}
.featureBtn {
  margin-top: 30px;
}
.product {
  height: 200px;
  border: solid #9b9b9b;
  border-width: 1px 0;
}
.imgPlaceholder {
  height: 150px;
  width: 200px;
  background-color: #d1d1d1;
  border: solid 1px #afafaf;
}
.innerProduct {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.innerProduct div {
  display: flex;
}

.productInfo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contactLinks {
  color: white;
  background-color: var(--lightBlue);
  margin-bottom: 3px;
  padding: 40px;
}
table {
  text-align: left;
  width: 100%;
}
th {
  border-bottom: 1px solid white;
  font-size: 23px;
  padding: 0 20px 20px 0;
}
td {
  padding: 10px;
}
footer {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--darkBlue);
}
footer div {
  display: flex;
}
footer div * {
  padding: 0 10px;
}
